.container_01{
    overflow: hidden;
}

.item_01{
    float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black;
}

.item_02{
    float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black;
}

.item_03{
    float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black;
}

.item_04{
    float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid black;
}